/* Your code here */
.interest-links {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 2fr 1fr 0.75fr;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 105px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interest-links {
  padding: 10px 0;
}

.interest-links img {
  width: 65px;
}

.text {
  border-right: 1px solid #e2e2e2;
}

.text h4 {
margin: 10px 0 5px 0;
}

.letters-percents {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.aao,
.swe,
.onehundred,
.oneten {
  border-bottom: 1px solid #e2e2e2;
}

.swe,
.cat,
.oneten,
.oneeleven {
  margin-top: 15px;
}

.letters-percents {
  border-right: 1px solid #e2e2e2;
}

.letters,
.percents {
  font-size: 16px;
}

.letters {
  width: 80px;
}

.percents {
  width: 80px;
  text-align: end;
  color: green;
  font-weight: bold;
}

.temp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
