.masthead {
  display: grid;
  grid-template-areas:
    "masthead_menu-and-search . masthead_actions"
    ". masthead_technologies ."
    "masthead_date masthead_logo masthead_paper";
}

.masthead_menu-and-search {
  grid-area: masthead_menu-and-search;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.masthead_actions {
  grid-area: masthead_actions;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
}
.masthead_technologies {
  grid-area: masthead_technologies;
  display: flex;
  justify-content: center;
}
.masthead_technologies span {
  font-size: 10px;
  color: #6f6f6f;
  margin: 5px;
}
.technology {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e2e2e2;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  position: relative;
  background-color: white;
  top: 1px;
}
.masthead_date {
  grid-area: masthead_date;
  font-size: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  padding-bottom: 11px;
}
.masthead_logo {
  grid-area: masthead_logo;
  display: flex;
  justify-items: center;
  padding-top: 15px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.masthead_paper {
  grid-area: masthead_paper;
  font-size: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  padding-bottom: 11px;
}

.menu-search-btn {
  font-size: 11px;
  padding: 7px 9px;
}

.menu-search-btn:hover {
  background-color: #f7f7f5;
}
